<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>

    <!-- Le styles -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body{
            padding-top: 60px;
        }
    </style>
    <link href="../static/css/bootstrap-responsive.min.css" rel="stylesheet">
</head>
<body>

    <div class="container">
        <h2>示例程序</h2>
        <p><a href="views/user.html">用户管理</a></p>
        <p><a href="issues.html">遇到的问题收集</a></p>
    </div>
</body>
</html>